.idea/
cmake-build-*/
CMakeLists_*.txt
CMakeLists_nigga.txt
compile_commands.json
CMakeFiles/

*.o
*.so
*.a
*.bc
*.lo
*.la
*.dylib
*.dll

*.out
*.exe
*.obj
*.dep
*.manifest
*~
*.swp
*.swo
.DS_Store
Thumbs.db
HINTS.txt